<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>New Ro Physics|About me</title>

    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index" class="brand-logo">New Ro Physics</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">About Mr. Byrne</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About Mr. Byrne</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center teal-text text-lighten-2">About Mr. Byrne</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>

      </div>
    </div>
    <div class="parallax"><img src="http://enlightks.biz//img/revolution_brings_reform_and_terror.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row" align= center>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center"></h5>
            <p class="light"><h5><a href= https://www.timetoast.com/timelines/95652>Women in the French Revolution Timeline<a></a></h5></p>
            <p class="light"><h5><a href= https://www.triphistoric.com/puente-de-boyac-1691/>Battle of Boyacá<a></a></h5></p>
            <p class="light"><h5><a href= http://mentalfloss.com/article/67905/9-women-who-helped-win-american-revolution>Sybil Ludington<a></a></h5></p>
            <p class="light"><h5><a href= http://revolutionsoffrance.blogspot.com/p/society-of-revolutionary-republican.html>Society of Revolutionary Republican Women<a></a></h5></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center"></h5>
            <!--<p class="light">&emsp;&emsp;&emsp;<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAQ3AAAAJDhiN2JlZGY2LWRhMmEtNDUxOS05MmM4LTQ1OTFmMWJkNmZjOA.png"></p>
          -->
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h2 class="center"></h2>
            <p class="light"><h5><a href= https://thelouvertureproject.org/index.php?title=Catherine_Flon>Website on Catherine Flon<a></a></h5></p>
            <p class="light"><h5><a href= https://www.triphistoric.com/estatua-de-policarpa-salavarrieta-1708/>Salavarrieta Ríos<a></a></h5></p>
            <p class="light"><h5><a href= http://kentakepage.com/sanite-belair-the-tigress-of-haiti/>Sanité Bélair<a></a></h5></p>
            <p class="light"><h5><a href= https://www.khanacademy.org/humanities/ap-us-history/period-3/apush-the-american-revolution/a/women-in-the-american-revolution>Daughters of Liberty<a></a></h5></p>
            <p class="light"><h5><a href= http://www.onthisdeity.com/5th-october-1789-%E2%80%93-the-womens-march-on-versailles/>Women's Bread March<a></a></h5></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>